doctype html
html(lang='pl')

    head
        title simple-todo
        link(href='/assets/style.css',
                rel='stylesheet',
                type='text/css')

    body
        #container
            h1 jade works!
