doctype html
html(lang='pl')

    head
        title protected
        link(href='/assets/style.css',
                rel='stylesheet',
                type='text/css')
        
    body
        p hello #{ login }!
        a(href="/logout") Logout!